{% extends 'main_app/base.html' %}
{% load static %}
{% block custom_css %}
  <style>
      .invalid{
        font-style: italic;
        font-weight: bold;
        color: red;
      }
      .valid{
        font-style: italic;
        font-weight: bold;
        color: green;
      }
  </style>
{% endblock custom_css %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <form id="contact-form" method="post" role="form" class="p-5">
                      <div class="messages"></div>
                        <div class="controls">
                          <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                <label for="form_name">Введите название проекта *</label>
                                <input id="form_name" type="text" name="name" class="form-control" placeholder="Название проекта" required="required" data-error="Firstname is required.">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="form_lastname">Разработчики *</label>
                                <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Иванов И.В., Сидоров Т.И." required="required" data-error="Lastname is required.">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="form_email">Кураторы *</label>
                                <input id="form_email" type="email" name="email" class="form-control" placeholder="Петров О.В., Сайкин В.А." required="required" data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="form_phone">Тип проекта</label>
                                <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Информационная система">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="form_phone">Технологии проекта</label>
                                <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Django, React...">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="form_message">Ссылка на репозиторий *</label>
                                <input id="form_name" type="text" name="name" class="form-control" placeholder="https://github.com/" required="required" data-error="Firstname is required.">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="form_phone">Файл презентации</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="form_phone">Файл ТЗ</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="form_phone">Изображение</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="form_phone">Контейнер</label>
                                <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Ссылка на контейнер">
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="form_message">Краткое описание проекта (до 100 слов) *</label>
                                <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="form_message">Подробное описание (до 500 слов) *</label>
                                <textarea id="form_message" name="message" class="form-control" placeholder="Можете указать подробнее важные детали на ваш взгляд" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="col text-center mb-5">
                        <input type="submit" class="btn btn-success btn-send" value="Создать проект">
                      </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
</section>
{% endblock content %}
{% block custom_js %}
<!-- <script>
    function validateEmail(email) {
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
    $(document).ready(function(){
        $("#id_email").keyup(function(){
            
            var email = $(this).val()
            if (validateEmail(email)){
            $.ajax({
                url: "{% url 'check_email_availability' %}",
                type: 'POST',
                data:{email:email}
            }).done(function(response){
                if (response == "True"){
                    $(".email_error").remove()
                    $("<span class='invalid email_error'>Такой email уже зарегистрирова</span>").insertAfter("#id_email");
                }
                else{
                    $(".email_error").remove()

                    $("<span class='valid email_error'>Email свободен</span>").insertAfter("#id_email");
                }
            }).fail(function(response){
                $("<span class='alert alert-warning'>Сервер временно недоступен. Повторите позже</span>").insertAfter("#id_email");
            })
        }
        })
    }); -->
</script>
{% endblock custom_js %}